# Server
NODE_ENV=development
CLIENT_URL=http://localhost:3000

# Databse (Supabase connection pool string)
DATABASE_URL=

# JWT
JWT_ACCESS_SECRET=
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN_DAYS=7

# Password Hashing
BCRYPT_SALT_ROUNDS=12

# Email
RESEND_API_KEY=
EMAIL_FROM=

# reCAPTCHA
RECAPTCHA_SECRET_KEY=

# File Upload
UPLOAD_DIR=uploads
MAX_FILE_SIZE=5242880